@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap");

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

全ページ共通

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
html {
  font-size: 62.5%;
}

body {
  font-family: 'Zen Kaku Gothic New', YuGothic, 'Yu Gothic medium', 'Hiragino Sans', Meiryo, 'sans-serif';
  font-size: 1.4rem;
  color: #000;
  letter-spacing: 2px;
  line-height: 1.8;
  background: #fdf6ed;
}

@media screen and (max-width: 415px) {
  body {
    font-size: 1.4rem;
  }
}

*:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－
文字
－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
p {
  margin: 20px 0;
  padding-right: 0;
  text-align: justify;
  letter-spacing: 1px;
}

a {
  color: #000;
}

/* 見出し */
h1,
h2,
h3,
h4 {
  font-weight: normal;
  letter-spacing: 4px;
}

h1 {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 415px) {
  h1 {
    font-size: 5rem;
    margin: 60px 0;
  }
}

h2 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 520px) {
  h2 {
    font-size: 4rem;
    margin-bottom: 40px;
  }
}

h3 {
  position: relative;
  font-size: 2.8rem;
  margin: 40px 0;
}

@media screen and (max-width: 520px) {
  h3 {
    margin: 20px 0;
    font-size: 2.4rem;
  }
}

h3::after {
  position: absolute;
  bottom: 12px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #201d21;
}

@media screen and (max-width: 520px) {
  h3::after {
    bottom: 10px;
  }
}

h4 {
  position: relative;
  font-size: 2rem;
  margin: 40px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0)), color-stop(60%, rgba(32, 29, 33, 0.1)));
  background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(32, 29, 33, 0.1) 60%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 520px) {
  h4 {
    margin: 30px 0;
  }
}

/* 強調 */
em {
  font-style: normal;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0)), color-stop(60%, #fdf6ed));
  background-image: linear-gradient(rgba(0, 0, 0, 0) 60%, #fdf6ed 60%);
}

/* リスト */
ul[class] {
  margin: 20px 0;
}

ol[class] {
  list-style: decimal-leading-zero;
}

ol[class] li {
  margin-left: 2.1em;
}

/* フォーム系 */
input,
textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 0;
  border-bottom: #fdf6ed 2px solid;
}

textarea {
  height: 100px;
}

input[type="submit"] {
  width: auto;
  padding: 4px 10px;
  background: #fdf6ed;
  color: #fff;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

input[type="submit"]:hover {
  background: #201d21;
  color: #fdf6ed;
  cursor: pointer;
}

.button {
  display: inline-block;
  background: #fdf6ed;
  border: 1px solid #201d21;
  padding: 4px 8px;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.button:hover {
  background: #201d21;
  color: #fff;
}

/* 装飾 */
.box {
  border: solid 1px #201d21;
  background: #fdf6ed;
  padding: 20px;
}

.label {
  display: inline-block;
  padding: 0 10px;
  background-color: #fdf6ed;
  padding-bottom: 2px;
  margin-bottom: 20px;
}

/* レイアウト */
.center {
  text-align: center;
}

.right {
  text-align: right;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid {
  display: -ms-grid;
  display: grid;
}

dl.grid {
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dl.grid dt,
dl.grid dd {
  padding: 10px;
  border-bottom: 2px solid #fdf6ed;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

横幅、ページ設定 

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
main {
  min-height: calc(100vh - 65px);
}

main,
footer {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  padding: 80px;
  background: #fff;
}

main section,
footer section {
  width: 100%;
  margin-bottom: 100px;
}

@media screen and (max-width: 1099px) {
  main,
  footer {
    width: 100%;
  }
}

@media screen and (max-width: 520px) {
  main,
  footer {
    padding: 40px 10px;
  }
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

メニュー

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
header .globalnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #201d21;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  z-index: 98;
}

header .globalnav ul {
  max-width: 1100px;
  margin: 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1099px) {
  header .globalnav ul {
    margin-right: 60px;
  }
}

header .globalnav ul li {
  position: relative;
}

header .globalnav ul li::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: #fdf6ed;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

header .globalnav ul li:hover::before {
  width: 100%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

@media screen and (max-width: 960px) {
  header .globalnav ul {
    padding: 10px;
  }
}

header .globalnav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
}

header .globalnav.is-active {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
}

/* メニューボタン */
.menubtn {
  position: fixed;
  top: 20px;
  right: 38px;
  fill: #201d21;
  text-align: center;
  padding: 2px;
  z-index: 99;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .menubtn {
    right: 18px;
    background: #fff;
  }
}

.menubtn span {
  display: block;
  font-size: 1rem;
  font-weight: bolder;
}

.menubtn.is-active {
  fill: #fdf6ed;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  top: 6px;
}

@media screen and (max-width: 960px) {
  .menubtn.is-active {
    right: 18px;
    background: transparent;
  }
}

.menubtn.is-active span {
  display: none;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

サブメニュー　（目次）

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.mokuji {
  background: rgba(32, 29, 33, 0.1);
  text-align: center;
  margin-bottom: 80px;
}

@media screen and (max-width: 520px) {
  .mokuji {
    margin-bottom: 40px;
  }
}

.mokuji ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.mokuji ul li {
  position: relative;
}

.mokuji ul li a {
  display: block;
  text-decoration: none;
  padding: 10px 40px;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
}

.mokuji ul li.has-child ul {
  position: absolute;
  left: 0;
  z-index: 4;
  background: #fdf6ed;
  width: 180px;
  visibility: hidden;
  opacity: 0;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.mokuji ul li.has-child ul li a {
  color: #201d21;
  border-bottom: solid 1px rgba(32, 29, 33, 0.6);
}

.mokuji ul li.has-child ul li a:hover, .mokuji ul li.has-child ul li a:active {
  background: rgba(255, 255, 255, 0.8);
}

.mokuji ul li.has-child ul li:last-child a {
  border-bottom: none;
}

.mokuji ul li.has-child ul ul {
  top: 0;
  left: 182px;
  background: #fdf6ed;
}

.mokuji ul li.has-child ul ul li {
  background: rgba(255, 255, 255, 0.4);
}

.mokuji ul ul {
  display: block;
}

.mokuji ul ul li a {
  padding: 10px 35px;
}

/*矢印の設定*/
/*2階層目を持つliの矢印の設定*/
nav ul li.has-child::before {
  content: '';
  position: absolute;
  left: 14px;
  top: 18px;
  width: 6px;
  height: 6px;
  border-top: 1px solid rgba(32, 29, 33, 0.6);
  border-right: 1px solid rgba(32, 29, 33, 0.6);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/*3階層目を持つliの矢印の設定*/
nav ul ul li.has-child::before {
  content: '';
  position: absolute;
  left: 14px;
  top: 18px;
  width: 6px;
  height: 6px;
  border-top: 1px solid;
  border-right: 1px solid rgba(32, 29, 33, 0.6);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/*hoverしたら表示*/
nav li.has-child:hover > ul,
nav li.has-child ul li:hover > ul,
nav li.has-child:active > ul,
nav li.has-child ul li:active > ul {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .mokuji {
    padding: 0;
  }
  .mokuji ul {
    display: block;
  }
  .mokuji ul li.has-child::before {
    left: 20px;
  }
  .mokuji ul li.has-child.active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .mokuji ul ul li.has-child::before {
    transform: rotate(135deg);
    left: 20px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
  }
  .mokuji ul li.has-child ul,
  .mokuji ul li.has-child ul ul {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    visibility: visible;
    opacity: 1;
    display: none;
    -webkit-transition: none;
    transition: none;
  }
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

ページUP

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.pageUp {
  position: fixed;
  bottom: 20px;
  width: 940px;
  max-width: 100%;
  text-align: right;
  fill: rgba(32, 29, 33, 0.6);
  z-index: 99;
}

@media screen and (max-width: 960px) {
  .pageUp {
    right: 20px;
    bottom: 20px;
  }
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

TOP

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/*－－－－－－－－－－ News －－－－－－－－－－*/
.news {
  overflow-y: auto;
  height: 100px;
  border: 0;
}

.news ul {
  margin: -8px 0;
}

.news ul li {
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  gap: 20px;
  margin: 4px 0;
}

@media screen and (max-width: 520px) {
  .news ul li {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0;
  }
}

.news ul li time {
  font-weight: bold;
  color: #000;
}

/*－－－－－－－－－－ Link －－－－－－－－－－*/
#link ul.flex {
  margin: -4px;
  margin-bottom: 40px;
}

#link ul.flex li {
  margin: 4px;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

NOVEL

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/*－－－－－－－－－－ タイトル一覧 －－－－－－－－－－*/
ul.novelList {
  margin: 0;
}

ul.novelList li {
  margin-bottom: 20px;
}

@media screen and (max-width: 520px) {
  ul.novelList li {
    margin-bottom: 10px;
  }
}

ul.novelList li ul,
ul.novelList li p {
  margin-top: 0;
}

ul.novelList li .title {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0px 0 20px;
  color: rgba(32, 29, 33, 0.8);
}

ul.novelList li .text {
  display: block;
  margin-top: 10px;
  margin-left: 30px;
  color: #666666;
}

/* 横並びリスト */
.list-yoko {
  -ms-grid-columns: (minmax(40px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
}

.list-yoko li {
  margin: 0 10px;
}

.list-yoko .number {
  color: #2c3056;
  margin-right: 4px;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

長編タイトル一覧ページ

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.longtitle {
  max-width: 800px;
  margin: 80px auto;
}

.longtitle .title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0px 0 60px;
  color: rgba(32, 29, 33, 0.8);
}

.longtitle .column {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.longtitle .novelList {
  margin: 40px 0 40px;
}

.longtitle .novelList li {
  margin-bottom: 20px;
}

.longtitle ol.novelList li {
  margin-left: 2.1em;
}

.longtitle ol.novelList li .text {
  margin-left: 0;
  text-indent: 0;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

小説個別ページ

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.story section {
  max-width: 800px;
  margin: 0 auto;
}

.story section h1 {
  font-size: 3rem;
  margin-bottom: 100px;
}

@media screen and (max-width: 520px) {
  .story section h1 {
    margin-bottom: 40px;
  }
}

.story section .after {
  margin: 80px;
}

@media screen and (max-width: 520px) {
  .story section .after {
    margin: 40px;
  }
}

.story.horizontal section {
  writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: horizontal-tb;
}

/* 縦書きの場合 */
.story.vertical {
  padding: 40px 40px 0;
}

@media screen and (max-width: 520px) {
  .story.vertical {
    padding: 40px 20px 0;
  }
}

.story.vertical section {
  padding-bottom: 40px;
  max-width: none;
  height: calc(100vh - 105px);
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  overflow-x: auto;
}

@media screen and (max-width: 960px) {
  .story.vertical section {
    padding-bottom: 20px;
    height: calc(90vh - 105px);
  }
}

.story.vertical section h1 {
  margin-left: 40px;
}

.story.vertical section p {
  margin: 0 40px;
}

.story.vertical section .after {
  margin: 80px 80px 20px 20px;
}

/*－－－－－－－－－－ ページ送りボタン －－－－－－－－－－*/
.pagebtn {
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: 99;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .pagebtn {
    right: 20px;
    background: #fff;
  }
}

.pagebtn .close {
  position: absolute;
  display: none;
  top: -2px;
  left: -10px;
  padding: 2px;
  font-weight: bold;
}

.pagebtn.is-active {
  transform: translateY(-68px);
  -webkit-transform: translateY(-68px);
  -moz-transform: translateY(-68px);
  -ms-transform: translateY(-68px);
  -o-transform: translateY(-68px);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
}

.pagebtn.is-active svg {
  opacity: 0.2;
}

.pagebtn.is-active .close {
  display: block;
}

/*－－－－－－－－－－ ページ送りメニュー －－－－－－－－－－*/
.pageTurn {
  position: fixed;
  right: 0;
  bottom: 0;
  background: #201d21;
  padding: 10px;
  padding-right: 14px;
  transform: translateY(calc(100% + 86px));
  -webkit-transform: translateY(calc(100% + 86px));
  -moz-transform: translateY(calc(100% + 86px));
  -ms-transform: translateY(calc(100% + 86px));
  -o-transform: translateY(calc(100% + 86px));
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  z-index: 99;
}

.pageTurn.is-active {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
}

.pageTurn div {
  position: absolute;
  top: -34px;
  left: 0px;
  width: 162px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 4px;
}

.pageTurn div .yoko,
.pageTurn div .tate {
  padding: 4px 8px;
}

.pageTurn span {
  padding: 4px;
}

.pageTurn span a {
  fill: #fdf6ed;
}

.pageTurn span a:hover {
  opacity: 0.6;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

OFFLINE

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/* 一覧全体 */
#offline .doujin-list > .grid {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 24px;
}

@media screen and (max-width: 520px) {
  #offline .doujin-list > .grid {
    display: block;
  }
}

/*個別*/
.doujin-item {
  margin-bottom: 60px;
}

.doujin-item .title {
  display: block;
  font-size: 2rem;
  margin: 10px 0;
}

.doujin-item ul {
  padding-left: 20px;
}

.doujin-item ul.grid {
  gap: 8px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0;
}

.doujin-item ul.grid li {
  margin: 0;
}

.doujin-item ul.grid li .button {
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 0;
}

@media screen and (max-width: 520px) {
  .doujin-item ul.grid li {
    margin-bottom: 4px;
  }
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

CONTACT

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
form input,
form textarea {
  width: 100%;
}

form input {
  max-width: 600px;
}

form input[type="submit"] {
  width: auto;
  color: #201d21;
  margin-top: 40px;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

フッター

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
footer {
  text-align: center;
  padding: 20px;
}
